.ui.form input[type="text"],
.ui.form input[type="date"],
.ui.form input[type="email"] {
	margin-bottom: 10px;
}

.ui.form input[type="checkbox"],
.ui.form textarea {
	vertical-align: baseline;
}

.ui.inverted.button {
	margin-top: 20px;
}
